<div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card card-bordered" id="cardd">
                      <div class="card-header" id="divclassheaderchat" style="padding-left: 35% !important;">
                            <h4 class="card-title"><FONT COLOR="#fff"><strong>Productos Guardados</strong></FONT></h4>
                        </div>
<table class="table table-striped table-dark" style="background-color:#bdd5ff">
  <tr style="background-color:#bdd5ff !important; border-width: 0px !important">
    <th style="border-color: #94bbff">Nombre</th>
    <th style="border-color: #94bbff">Precio</th> 
    <th style="border-color: #94bbff">Thumbnail</th>
    <th style="border-color: #94bbff">Comprar</th>
  </tr>
  {{#each customerFile}}
  <tr>
    <td style="border-color: #94bbff">{{this.Nombre}}</td>
    <td style="border-color: #94bbff">{{this.Precio}}</td> 
    <td style="border-color: #94bbff"><img src="./{{this.url}}" class="img-fluid" alt="Responsive image"></img></td>
    <td style="border-color: #94bbff"><form method="post" action="/carrito/productos/0/{{this.id}}" style="text-align: center; padding-bottom:2%"><button class="btn btn-primary" type="submit">Agregar a carrito</button></form></td>
    <td style="border-color: #94bbff"><form method="post" action="/carrito/productos/eliminar/0/{{this.id}}" style="text-align: center; padding-bottom:2%"><button class="btn btn-primary" type="submit">Eliminar de carrito</button></form></td>
  </tr>
  {{/each}}
</table>
<form id="formVerCarrito" method="get" action="/carrito/0/productos" style="text-align: center">
<div class="notification" style="background-color:#bdd5ff">
    <button type="submit" class="btn btn-primary">Ver carrito de compras</button> <span class="badge" id="elementosencarrito"></span>
</div>
</form>
<form method="get" action="/" style="text-align: center; padding-bottom:2%">
    <button type="submit" class="btn btn-primary">Volver al Formulario</button>
</form>

<form method="post" action="/carrito" style="text-align: center; padding-bottom:2%">
<button class="btn btn-primary" type="submit">Crear carrito</button>
</form>

<form method="post" action="/carrito/0/" style="text-align: center; padding-bottom:2%">
<button class="btn btn-primary" type="submit">Eliminar carrito</button>
</form>
                    </div>
                </div>
            </div>
        </div>
  </div>


